<?xml version="1.0" encoding="UTF-8"?>
<!--
    status="warn" 日誌框架本身的輸出日誌級別，可以修改為debug
    monitorInterval="5" 自動載入配置檔案的間隔時間，不低於 5秒；生產環境中修改配置檔案，是熱更新，無需重啟應用
 -->
<configuration status="warn" monitorInterval="5">
    <!--
    集中配置屬性進行管理
    使用時通過:${name}
    -->
    <properties>
        <property name="LOG_HOME">/home/aries/Desktop/logs</property>
    </properties>

    <!-- 日誌處理 -->
    <Appenders>
        <!-- 控制檯輸出 appender，SYSTEM_OUT輸出黑色，SYSTEM_ERR輸出紅色 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n" />
        </Console>

        <!-- 日誌檔案輸出 appender -->
        <File name="file" fileName="${LOG_HOME}/myfile.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %l %c{36} - %m%n" />
        </File>

        <!-- 使用隨機讀寫流的日誌檔案輸出 appender，效能提高 -->
        <RandomAccessFile name="accessFile" fileName="${LOG_HOME}/myAcclog.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %l %c{36} - %m%n" />
        </RandomAccessFile>

        <!-- 按照一定規則拆分的日誌檔案的appender -->  <!-- 拆分後的檔案 -->
        <!-- filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/myrollog-%d{yyyy-MM-dd-HH-mm}-%i.log"> -->
        <RollingFile name="rollingFile" fileName="${LOG_HOME}/myrollog.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/myrollog-%d{yyyy-MM-dd}-%i.log">
            <!-- 日誌級別過濾器 -->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <!-- 日誌訊息格式 -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %l %c{36} - %msg%n" />
            <Policies>
                <!-- 在系統啟動時，出發拆分規則，生產一個新的日誌檔案 -->
                <OnStartupTriggeringPolicy />
                <!-- 按照檔案大小拆分，10MB -->
                <SizeBasedTriggeringPolicy size="2MB" />
                <!-- 按照時間節點拆分，規則根據filePattern定義的 -->
                <TimeBasedTriggeringPolicy />
            </Policies>
            <!-- 在同一個目錄下，檔案的個限定為 30個，超過進行覆蓋 -->
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>

    <!-- logger 定義 -->
    <Loggers>
        <!-- 使用 rootLogger 配置 日誌級別 level="trace" -->
        <Root level="debug">
            <!-- 指定日誌使用的處理器 -->
           <!-- <AppenderRef ref="Console" />-->
            <AppenderRef ref="file" />
            <AppenderRef ref="rollingFile" />
            <AppenderRef ref="accessFile" />
        </Root>
    </Loggers>
</configuration>