<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>403 頁</title>
		<link rel="icon" type="image/x-icon" th:href="@{/resources/ico/favicon.ico}">
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/all.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
        <script th:src="@{/resources/js/jquery-3.6.3.min.js}"></script>
		<script th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/resources/js/popper.min.js}"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h2>你沒有權限訪問這個網頁！</h2>
			</div>
			
			<div class="row">
				<a th:href="@{/}" class="btn btn-warning">回前一頁</a>
			</div>
		</div>
	</body>
</html>