<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>eshop</title>
        <link rel="icon" type="image/x-icon" th:href="@{/resources/ico/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
        <script th:src="@{/resources/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <div th:insert="navbar :: navbar"></div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row">
                      <h1 th:text="${order.orderId} + ' details'"></h1>
                    </div>

                    <div class="row">
                      <label>產品編號</label>
                      <input type="text" class="form-control" th:field="${order.orderDetail.productId}" readonly>
                    </div>

                    <div class="row">
                      <label>單價</label>
                      <input type="text" class="form-control" th:field="${order.orderDetail.orderPrice}" readonly>
                    </div>

                    <div class="row">
                      <label>購買數量</label>
                      <input type="text" class="form-control" th:field="${order.orderDetail.orderQuantity}" readonly>
                    </div>

                    <div class="row">
                      <label>折扣</label>
                      <input type="text" class="form-control" th:field="${order.orderDetail.discount}" readonly>
                    </div>

                    <div class="row">
                      <a th:href="@{/show-order}" class="btn btn-warning">返回</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <div th:insert="footer :: footer"></div>
    </body>
</html>
