<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta charset="UTF-8">
        <title>電 子 商 城</title>
        <link rel="icon" type="image/x-icon" th:href="@{/resources/ico/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
        <script th:src="@{/resources/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
	</head>
	<body class="d-flex flex-column h-100">
		<main class="flex-shrink-0">
            <!-- Navigation-->
            <div th:insert="navbar :: navbar"></div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-sm">
							<h1>加入購物車</h1>
							
							<form action="#" th:action="@{/add-to-cart}" th:object="${cartForm}" method="post">
							
								<div class="form-group">
									<input type="hidden" class="form-control" th:field="*{productId}">
								</div>
								
								<div class="form-group">
									<label>產品名稱</label>
									<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></div>
									<input type="text" class="form-control" th:field="*{productName}">
								</div>
								
								<div class="form-group">
									<label>產品資訊</label>
									<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('productDescription')}" th:errors="*{productDescription}"></div>
									<input type="text" class="form-control" th:field="*{productDescription}">
									<!-- <small class="form-text text-muted">Expected format: LL-DDL where L-letter, D-digit</small> -->
								</div>
								
								<div class="form-group">
                                    <label>單價</label>
                                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}"></div>
                                    <input type="number" class="form-control" th:field="*{productPrice}">
                                </div>
                                
                                <div class="form-group">
                                    <label>數量</label>
                                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                                    <input type="number" class="form-control" step="any"  min="0" value="1" th:field="*{quantity}">
                                </div>
                                
<!--                                 <div class="form-group"> -->
<!--                                     <label>付款方式</label> -->
<!--                                     <select name="payment" class="form-control"> -->
<!--                                         <option th:each="payment : ${T(main.model.Order.Payment).values()}" -->
<!--                                                 th:value="${payment}" th:text="${payment}"></option> -->
<!--                                     </select> -->
<!--                                 </div> -->
								
<!-- 								<div class="form-group"> -->
<!-- 									<label>總額</label> -->
<!-- 									<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div> -->
<!-- 									<input type="number" class="form-control" th:field="*{amount}"> -->
<!-- 								</div> -->
								
								<div class="form-row">
									<div class="col">
										<input class="btn btn-success" type="submit" value="提交">
									</div>
									<div class="col">
										<a th:href="@{/showProduct}" class="btn btn-warning float-right">返回</a>
									</div>
								</div>
								
							</form>
						</div>
                    </div>
                    <!-- Call to action-->
<!--                     <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5"> -->
<!--                         <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start"> -->
<!--                             <div class="mb-4 mb-xl-0"> -->
<!--                                 <div class="fs-3 fw-bold text-white">New products, delivered to you.</div> -->
<!--                                 <div class="text-white-50">Sign up for our newsletter for the latest updates.</div> -->
<!--                             </div> -->
<!--                             <div class="ms-xl-4"> -->
<!--                                 <div class="input-group mb-2"> -->
<!--                                     <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" /> -->
<!--                                     <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button> -->
<!--                                 </div> -->
<!--                                 <div class="small text-white-50">We care about privacy, and will never share your data.</div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </aside> -->
                </div>
            </section>
        </main>
        <!-- Footer-->
        <div th:insert="footer :: footer"></div>
	</body>
</html>
