<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>電 子 商 城</title>
        <link rel="icon" type="image/x-icon" th:href="@{/resources/ico/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
        <script th:src="@{/resources/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>   
    </head>
    <body class="d-flex flex-column h-100">      
            <div th:insert="navbar :: navbar"></div>      
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder"> 電 子 商 城 </h2>
                                <p class="lead fw-normal text-muted mb-5"> 最好用.最便宜.最高品質的商品盡在本商城～歡迎蒞臨選購！ </p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                  				<div class="card-body p-4">
                            	  <img class="card-img-top" th:src="@{/resources/img/jean1.jpg}" alt="Denim Jeans" style="width:100%">
								  <h1>進口牛仔褲1</h1>
								  <p class="price">NT$100</p>
								  <p>進口國外知名廠商A的牛仔褲.舒適耐穿</p>						  
								<button class="btn btn-outline-light" id="button-newsletter" type="button" th:href="@{/show-cartform}">加入購物車</button>                                </div>
                            </div>               
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                  				<div class="card-body p-4">
                            	  <img class="card-img-top" th:src="@{/resources/img/jean2.jpeg}" alt="Denim Jeans" style="width:100%">
								  <h1>進口牛仔褲2</h1>
								  <p class="price">NT$150</p>
								  <p>進口國外知名廠商B的牛仔褲.舒適耐穿</p>						  
								  <button class="btn btn-outline-light" id="button-newsletter" type="button" th:href="@{/show-cartform}">加入購物車</button>							  
                                </div>
                            </div>               
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                  				<div class="card-body p-4">
                            	  <img class="card-img-top" th:src="@{/resources/img/jean3.jpeg}" alt="Denim Jeans" style="width:100%">
								  <h1>進口牛仔褲3</h1>
								  <p class="price">$200</p>
								  <p>進口國外知名廠商C的牛仔褲.舒適耐穿</p>						  
								  <button class="btn btn-outline-light" id="button-newsletter" type="button" th:href="@{/show-cartform}">加入購物車</button>							  
                                </div>
                            </div>               
                        </div>                    
                    </div>
                    <!-- Call to action-->  
<!--                     <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5"> -->
<!--                         <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start"> -->
<!--                             <div class="mb-4 mb-xl-0"> -->
<!--                                 <div class="fs-3 fw-bold text-white">隨時收到最新商品</div> -->
<!--                                 <div class="text-white-50">註冊以獲得我們寄送的最新產品的消息</div> -->
<!--                             </div> -->
<!--                             <div class="ms-xl-4"> -->
<!--                                 <div class="input-group mb-2"> -->
<!--                                     <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" /> -->
<!--                                     <button class="btn btn-outline-light" id="button-newsletter" type="button" th:href="@{/sign-up}">註冊</button> -->
<!--                                 </div> -->
<!--                                 <div class="small text-white-50">我們注重隱私,且絕不會與他人分享您的資料</div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </aside>               -->
                </div>
            </section>     
        <!-- Footer-->
        <div th:insert="footer :: footer"></div>
    </body>
</html>
