<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
      <meta charset="UTF-8">
      <title>電 子 商 城</title>
      <link rel="icon" type="image/x-icon" th:href="@{/resources/ico/favicon.ico}">
	 	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style-bgcolor.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/all.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
        <script th:src="@{/resources/js/all.js}"></script>
        <script th:src="@{/resources/js/popper.min.js}"></script>
        <script th:src="@{/resources/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>     
</head>
	<body>
    	<footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
	</body>
</html>